@model Hotel.Models.Comodidade

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="~/css/Comodidades/detailsComodidades.css">

<div id="detailsContainer" class="container mt-4">
    <h4 class="text-center"><i class="fas fa-info-circle"></i> Detalles de la Comodidad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 d-flex align-items-center">
            <i class="fas fa-tag mr-2"></i> Nombre:
        </dt>
        <dd class="col-sm-9">
            @Model.Nombre
        </dd>

        <dt class="col-sm-3 d-flex align-items-center">
            <i class="fas fa-info-circle mr-2"></i> Descripción:
        </dt>
        <dd class="col-sm-9">
            @Model.Descripcion
        </dd>
    </dl>
</div>
<div class="text-center mt-4">
    <button type="button" class="btn btn-primary" id="buttonEdit" onclick="loadEditForm('@Model.Id')">
        <i class="fas fa-edit"></i> Editar
    </button>
    <button type="button" class="btn btn-secondary buttonClose" onclick="closeDetailsModal()">
        <i class="fas fa-times"></i> Cerrar
    </button>
</div>

@section Scripts {
    <script src="~/js/scriptComodidades/indexComodidades.js"></script>
}