body {
    background-image: url(/img/Reserva/index1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px); /* Efecto de difuminado */
    color: #333;
}

.containerindexServicio {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    background-color: white; /* Fondo completamente blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

    .header h1 {
        font-size: 2em;
        color: #333;
    }

.button {
    background-color: #4A90E2;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.button-excel {
    box-sizing: border-box;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgba(7, 233, 105, 0.6);
    margin-right: 10px;
}

.button-pdf {
    box-sizing: border-box;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgba(233, 7, 52, 0.6);
    margin-right: 10px;
}

.containerActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .button:hover {
        background-color: rgba(9, 140, 210, 0.6);
    }
    


/* Estilos para el contenedor principal */
.search-container {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    margin-left: auto; /* Centra el contenedor horizontalmente */
    display: flex;
}

/* Estilos para la caja principal */
.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgba(9, 140, 210, 0.6);
    transition: all 0.3s ease;
}

/* Estilos para el checkbox */
.checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.checkbox:focus {
    border: none;
    outline: none;
}

.checkbox:checked {
    right: 10px;
}

.checkbox:checked ~ .mainbox {
    width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
    width: 0;
    height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
    padding-right: 8px;
}

/* Estilos para el input de búsqueda */
.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
}

/* Estilos para el contenedor del ícono */
.iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

/* Estilos para el ícono de búsqueda */
.search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 1.3em;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white; /* Fondo completamente blanco para la tabla */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

    .table th, .table td {
        padding: 10px;
        border: 1px solid #ffffff;
        text-align: center;
    }

    .table th {
        background-color: #433f3f;
        color: white;
        text-align: center;
    }

    .table tr:hover {
        background-color: #f9f9f9;
    }

    .table tbody tr:nth-child(odd) {
        background-color: white;
    }
    
    .table tbody tr:nth-child(even) {
        background-color: rgb(191, 210, 217);
    }

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-warning {
    background-color: #f0ad4e;
    color: white;
}

    .btn-warning:hover {
        background-color: #ec971f;
    }
/* boton detalles */
.btn-info {
    background-color: #5bc0de;
    color: white;
    padding: 5px 15px;
}

    .btn-info:hover {
        background-color: #31b0d5;
    }

.icon-search {
    font-size: 22px; /* Cambia esto al tamaño que desees */
    color: #ffffff; /* Cambia esto al color que desees */
}

.icon-search:hover {
    color: #cccccc; /* Cambia esto al color que desees para el estado hover */
}

.btn-danger {
    background-color: #d9534f;
    color: white;
    
}

    .btn-danger:hover {
        background-color: #c9302c;
    }

/* Estilos para los botones */
.btn {
    padding: 5px 15px; /* Asegúrate de que todos los botones tengan el mismo padding */
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-info {
    background-color: #5bc0de;
    color: white;
}

.btn-info:hover {
    background-color: #31b0d5;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
    padding: 5px 15px; /* Asegúrate de que el botón de eliminación tenga el mismo padding */
}

.btn-danger:hover {
    background-color: #c9302c;
}